@model Schedule.IntIta.Domain.Models.User
@{
    ViewData["Title"] = "Index";
}
<h2>Search</h2>

<form id="auth"  action="/Search/SearchResult" method="post">
    <p>Get user by Id:</p>
    <p><input form ="auth" type="text" value=""  name ="id"/>
        <input type="submit" form="auth" value="Send" />
    </p>
</form>

