@model Schedule.IntIta.Domain.Models.User
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<form method="post" action="">
    <p>Get user by Id:</p>
    <p><input type="text" name="IdField" value="@Html.EditorFor()" /><input type="submit"  value="Send" /></p>
</form>

