@model IEnumerable<Schedule.IntIta.Domain.Models.User>
@{
    ViewData["Title"] = "Index";
}
<h2>SearchResult</h2>
<h3>Вы искали юзера под id: @ViewBag.UserId</h3>
<h3>Простите, но функционал пока не реализован. Спасибо за понимание</h3>


