
@model ITA.Schedule.Entity.Entities.Teacher
    
@{
    ViewBag.Title = "Delete " + Model.Name + " Teacher" ;
    Layout = "~/Views/Admin/AdminBase.cshtml";
}

<h1>Delete teacher from the database?</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subjects</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>
                @foreach (var subject in Model.Subjects)
                {
                    @subject.Name <br />
                }
            </td>
        </tr>
    </tbody>

</table>
@Html.ActionLink("Delete", "DeleteTeacherFromDb", new { id = Model.Id }, new { @class = "btn btn-danger" })
@Html.ActionLink("Cancel", "ShowTeachers", null, new { @class = "btn btn-default" })



