@model ITA.Schedule.Entity.Entities.Subject

@{
    ViewBag.Title = "DeleteSubject";
    Layout = "~/Views/Admin/AdminBase.cshtml";
}

<h1>Delete subject from the database?</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Teachers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>
                @foreach (var teacher in Model.Teachers)
                {
                    @teacher.Name <br />
                }
            </td>
        </tr>
    </tbody>

</table>
@Html.ActionLink("Deactivate", "DeleteSubjectFromDb", new { id = Model.Id }, new { @class = "btn btn-danger" })
@Html.ActionLink("Cancel", "ShowSubjects", null, new { @class = "btn btn-default" })
