body {
    padding-top: 50px;
    padding-bottom: 20px;
}




/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table td{
    padding: 10px;
}

table th { padding: 10px; }

.schedule-header{
    height: 50px;
    background-color: white;
    font-size: 24px;
    padding: 10px;
    color: gray;

}

.schedule-navigation {
    height: 50px;
    padding: 10px;
    background-color: aliceblue;
}

.schedule-navigation-user-icon {
    padding: 6px;
}

.schedule-navigation-dropdown {
    display: inline-block;
    font-size: 22px;
    margin-right: 30px;
}

.schedule-navigation-dropdown-user {
    font-size: 11px;
}

.schedule-navigation-dropdown-period {
    font-size: 11px;
}

.schedule-navigation-timenav {
    display: inline-block;
    margin-left: 200px;
}

.schedule-navigation-timenav a{
    margin-right: 30px;
    text-decoration: none;
}

.schedule-maintable-wrapper {
    background-color: black;    
}

.schedule-maintable {
    background-color: white;
}

.schedule-maintable div {
    margin: 3px;
}

.navbar-inverse {
    background-color: #0095ff;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        color: black;
    }

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: black;
}


.main-greeting {
    background-color: ghostwhite;
    padding: 30px;
}

.main-info {
    background-color: darkgrey;
    background-color: lightskyblue;
    padding: 20px;
}

.main-greeting-message {
    text-align: center;
    color: black;
    font-size: 27px;
    font-weight: bold;
    padding: 40px;
    font-family: 'Rammetto One', cursive;
}

.main-info-label {
    font-family: 'Rammetto One', cursive;
    font-size: 12px;
    color: grey;
    text-align: center;
}

.main-info-image img {
    width: 700px;
    margin: 20px;
    box-shadow: 0 0 33px rgba(0,0,0,0.6);
}

.main-info-image {
    text-align: center;
    
}

.alert-message {
    font-size: 20px;
    color: red;
    text-align: center;
}
