
@using Kendo.Mvc.UI
@model  ITA.Schedule.Models.SchedulerViewModel

    <div class="col-md-12">
        <div class="h3 alert alert-info info col-sm-12 text-center">
            <span class = "text-center">
                @ViewBag.Date
            </span>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
            @foreach (var schedule in Model.ColumnHeaders)
            {
                <div style="width:@ViewBag.Width">
                    
                </div>
            }
        </div>

        @foreach (var schedule in Model.Events)
        {
            <div class="col-md-2">

            </div>
        }

    </div>

