@using Kendo.Mvc.UI

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentSchedule</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid">
    <div class="h3 alert alert-info info col-sm-12 text-center">
        @Html.LabelForModel("Sunday", new {@class="text-center"})
    </div>
    
    <div class="col-md-12 alert-danger">
        <label class="col-md-1">1 пара</label>
    </div>

    <div class="col-md-1"> <label>2 пара</label></div>
    <div class="col-md-1"> <label>3 пара</label></div>
    <div class="col-md-1"> <label>4 пара</label></div>
    <div class="col-md-1"> <label>5 пара</label></div>
    <div class="col-md-1"> <label>6 пара</label></div>
    <div class="col-md-1"> <label>7 пара</label></div>
    <div class="col-md-1"> <label>8 пара</label></div>

</div>
</body>
</html>
