@model ITA.Schedule.Models.StudentFilter

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentHeader</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div>
    
</div>
</body>
</html>
