<div class="schedule-header">Calendar </div>
<div class="schedule-navigation">
    <div class="glyphicon glyphicon-user schedule-navigation-user-icon"></div>

    <div class="dropdown schedule-navigation-dropdown">
        <button class="btn btn-default dropdown-toggle schedule-navigation-dropdown-user" type="button" id="dropdownUsers" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Current user
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownUsers">
            <li><a href="#">Mikhail Efremov</a></li>
            <li><a href="#">Maxim Gomon</a></li>
            <li><a href="#">Tetyana Kovbluk</a></li>
        </ul>
    </div>
    
    <div class="dropdown schedule-navigation-dropdown">
        <button class="btn btn-default dropdown-toggle schedule-navigation-dropdown-period" type="button" id="dropdownPeriod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Week
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownPeriod">
            <li><a href="#">Day</a></li>
            <li><a href="#">Week</a></li>
            <li><a href="#">Month</a></li>
        </ul>
    </div>
    
    <div class="schedule-navigation-timenav">
        <a href="#">Today</a>
        <a href="#" class="glyphicon glyphicon-chevron-left"></a>
        <a href="#">10.03.2018</a>
        <a href="#" class="glyphicon glyphicon-chevron-right"></a>
    </div>

</div>

<div class="schedule-maintable-wrapper">

</div>

