@using Schedule.IntIta.ViewModels
@model FilterEvents

@{
    ViewData["Title"] = "Расписние";
}


<h3>Расписание</h3>

@using (Html.BeginForm("GetEventsForSchedule", "Event", FormMethod.Post))
{
    <fieldset>
        <div class="form-group">
            <div>Typeofevent @Html.EditorFor(x => x.TypeOfEvent, new { @id = "TypeOfEvent" })</div>
            <div>Initiat.Name @Html.EditorFor(x => x.InitiatorName, new { @id = "InitiatorName" })</div>
            <div>GroupName @Html.EditorFor(x => x.GroupName, new { @id = "GroupName" })</div>
            <div>RoomName @Html.EditorFor(x => x.RoomName, new { @id = "RoomName"}) </div>
            <div><input type="button" value="Search" onclick="filters()" class="btn-info"></div>
        </div>
    </fieldset>
}

<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="~/js/ru.js"></script>
    <script>
        function filters() {
            var typeOfEvent = $("#TypeOfEvent").val();
            var initiatorName = $("#InitiatorName").val();
            var groupName = $("#GroupName").val();
            //get roomName from cookies
            var roomName = $("#RoomName").val(); //set data from cookies if not null/ If null -> use as is
            var sendFilters = {
                TypeOfEvent: typeOfEvent,
                InitiatorName: initiatorName,
                GroupName: groupName,
                RoomName: roomName
            };
            var events = [];
            $.ajax({
                type: "POST",
                url: "/Event/GetEventsForSchedule",
                dataType: "json",
                data: sendFilters,
                success: function (data) {
                    $.each(data, function (i, v) {
                        console.log(data);
                        events.push({
                            title: v.group.name + " " + v.typeOfEvent.name + " " + v.subject.name + " " + v.room.name,
                            description: v.group.name + " " + v.subject.name + " " + v.comments,
                            group: v.group.name,
                            start: moment(v.date.startTime),
                            end: v.date.endTime != null ? moment(v.date.endTime) : null,
                            color: v.subject.color,
                            allDay: false
                        });
                    });

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });

            function getFirstEventTime(events) {
                var currentDateTime = new Date();
                var startTimeOfCurrentYear = (new Date(currentDateTime.getFullYear(), 0, 1)).getTime();
                var currentTime = currentDateTime.getTime();
                var pastTimeOfStartCurrentYear = currentTime - startTimeOfCurrentYear;
                var hourOfMillisecs = 3600000;
                var hoursOfOneWeek = 168;
                var leftWeek = (pastTimeOfStartCurrentYear / hourOfMillisecs / hoursOfOneWeek).toFixed(2);

                var minTime = currentDateTime.getHours();

                events.forEach(function (item, i, arr) {
                    var itemTime = item.start;
                    var pastTimeOfStartCurrentYearForItem = itemTime - startTimeOfCurrentYear;
                    var leftWeekForItem = (pastTimeOfStartCurrentYearForItem / hourOfMillisecs / hoursOfOneWeek).toFixed(2);

                    if (Math.trunc(leftWeekForItem) === Math.trunc(leftWeek)) {
                        var itemDate = new Date(item.start);
                        if (itemDate.getHours() < minTime) minTime = itemDate.getHours();
                    }
                });
                return '' + minTime + ':00:00';
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    allDaySlot: false,
                    slotDuration: '00:30:00',
                    slotLabelInterval: '00:30:00',
                    slotLabelFormat: 'HH:mm',
                    minTime: '08:00:00',
                    scrollTime: getFirstEventTime(events),

                    timeFormat: 'H:mm',
                    displayEventEnd: true,
                    defaultView: 'agendaWeek',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        agenda: 'Список'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>')
                            .html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>')
                                .html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal('show');
                    }
                });
            }
        }
    </script>
    <script>
        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        };
        function del_cookie(name) {
            document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
        $(document).ready(function () {
            var roomFromCookie = getCookie("RoomNameCookie");
            var typeOfEvent = $("#TypeOfEvent").val();
            var initiatorName = $("#InitiatorName").val();
            var groupName = $("#GroupName").val();
            $("#RoomName").val(roomFromCookie);
            del_cookie("RoomNameCookie");
            //get roomName from cookies
            var roomName = roomFromCookie; //set data from cookies if not null/ If null -> use as is
            var sendFilters = {
                TypeOfEvent: typeOfEvent,
                InitiatorName: initiatorName,
                GroupName: groupName,
                RoomName: roomName
            };

            var events = [];
            $.ajax({
                type: "POST",
                url: "/event/GetEventsForSchedule",
                dataType: "json",
                data: sendFilters,
                success: function (data) {
                    $.each(data, function (i, v) {
                        console.log(data);
                        events.push({
                            title: v.group.name + " " + v.typeOfEvent.name + " " + v.subject.name + " " + v.room.name,
                            description: v.group.name + " " + v.subject.name + " " + v.comments,
                            group: v.group.name,
                            start: moment(v.date.startTime),
                            end: v.date.endTime != null ? moment(v.date.endTime) : null,
                            color: v.subject.color,
                            allDay: false
                        });
                    });

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            });

            function getFirstEventTime(events) {
                var currentDateTime = new Date();
                var startTimeOfCurrentYear = (new Date(currentDateTime.getFullYear(), 0, 1)).getTime();
                var currentTime = currentDateTime.getTime();
                var pastTimeOfStartCurrentYear = currentTime - startTimeOfCurrentYear;
                var hourOfMillisecs = 3600000;
                var hoursOfOneWeek = 168;
                var leftWeek = (pastTimeOfStartCurrentYear / hourOfMillisecs / hoursOfOneWeek).toFixed(2);

                var minTime = currentDateTime.getHours();

                events.forEach(function (item, i, arr) {
                    var itemTime = item.start;
                    var pastTimeOfStartCurrentYearForItem = itemTime - startTimeOfCurrentYear;
                    var leftWeekForItem = (pastTimeOfStartCurrentYearForItem / hourOfMillisecs / hoursOfOneWeek).toFixed(2);

                    if (Math.trunc(leftWeekForItem) === Math.trunc(leftWeek)) {
                        var itemDate = new Date(item.start);
                        if (itemDate.getHours() < minTime) minTime = itemDate.getHours();
                    }
                });
                return '' + minTime + ':00:00';
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    allDaySlot: false,
                    slotDuration: '00:30:00',
                    slotLabelInterval: '00:30:00',
                    slotLabelFormat: 'HH:mm',
                    minTime: '08:00:00',
                    scrollTime: getFirstEventTime(events),

                    timeFormat: 'H:mm',
                    displayEventEnd: true,
                    defaultView: 'agendaWeek',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        agenda: 'Список'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>')
                            .html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>')
                                .html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal('show');
                    }
                });
            }
        })

    </script>
}